body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #222831;
    font-family: 'Playfair Display', serif;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color:white;
    border-radius: 0;
    border-bottom: 3px solid #E8E8E8;
  }
  
  .description{
    white-space: pre-wrap;
  }
  .container {
      width: 100%;
  }
  .time-block-wrapper {
      width: 100%;
  }
  .time-block{
    border-radius: 15px;
    margin-bottom: 1px;
    height: 80px;
  }
  .row {
    white-space: pre-wrap;
    height: 80px;
   }
  
  .hour {
    background-color: #bfe3fd;
    color: #000000;
    border-top: 1px solid #000000;
    padding-top: 7px;
    text-align: end;
  }
  .hour p {
    padding-right: 10px;
  }
  
  .past {
    background-color: #d3d3d3;
    color: #222831;
  }
  
  .present {
    background-color: #760960;
    color: white;
  }
  
  .future {
    background-color: #5ede5e;
    color: #222834;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #3269a0;
    color: white;
  }
  
  .saveBtn span:hover {
    font-size: 20px;
    color: #000000;
    transition: all .3s ease-in-out;
  }